/* SourceCodePro */

@font-face {
    font-family: 'Source Code Pro', monospace;
    src: url("./../assets/fonts/SourceCodePro-ExtraLight.ttf") format("truetype");
    font-weight: 200;
}
@font-face {
    font-family: 'Source Code Pro', monospace;
    src: url("./../assets/fonts/SourceCodePro-Light.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: 'Source Code Pro', monospace;
    src: url("./../assets/fonts/SourceCodePro-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: 'Source Code Pro', monospace;
    src: url("./../assets/fonts/SourceCodePro-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: 'Source Code Pro', monospace;
    src: url("./../assets/fonts/SourceCodePro-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: 'Source Code Pro', monospace;
    src: url("./../assets/fonts/SourceCodePro-Bold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: 'Source Code Pro', monospace;
    src: url("./../assets/fonts/SourceCodePro-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}
@font-face {
    font-family: 'Source Code Pro', monospace;
    src: url("./../assets/fonts/SourceCodePro-Black.ttf") format("truetype");
    font-weight: 900;
}