@import url(./reset.css);
@import url(./colors.css);
@import url(./font-loader.css);
@import url(./typos.css);

:root {
    --padding-large: 160px;
    --padding-medium: 80px;
    --padding-small: 20px;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 var(--padding-large);
    
    background-color: var(--color-primary-light);
}

header {
    margin: 80px 0;
    text-transform: uppercase;
    color: tomato;
}