:root {
    --font-family: 'Source Code Pro', monospace;
}


.typo-headling-l {
    font-family: var(--font-family);
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.2;
}

.typo-cta-primary {
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.2;
}

.typo-cta-thin {
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 200;
    line-height: 1.2;
}