@import url(./styles/button-one.css);
@import url(./styles/button-two.css);

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons > * {
    margin-bottom: 80px;
}

.button {
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}