.buttons__four {
    position: relative;
    z-index: 2;
}

.buttons__four div {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-primary-light);
    border: 2px solid var(--color-primary-dark);
    z-index: 3;
}

.buttons__four p {
    transition: transform .3s ease-in-out;
}

.buttons__four::before {
    position:absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-dark);
    transform: translate3d(6px, 8px, 0);
    transition: transform .3s ease-in-out;
    z-index: -5;
}

.buttons__four:hover p {
    /* transform: scale(1.1); */
}

.buttons__four:hover::before {
    transform: translate3d(0, 0, 0);
}