.buttons__three {
    position: relative;
    text-transform: uppercase;

    border: 2px solid var(--color-primary-dark);
    color: var(--color-primary-dark);
    background-color: #ffd6a5;

    overflow: hidden;
}

.buttons__three::before, .buttons__three::after {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2;
}

.buttons__three::before {
    content: attr(data-hover);
    transition: transform .3s ease-in-out, opacity .2s ease-out;
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
}

.buttons__three::after {
    content: attr(data-default);
    transition: transform .3s ease-in-out, opacity .2s ease-in;
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.buttons__three--bg {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #caffbf;
    transform: translate3d(-100%, 100%, 0);
    transition: transform .3s ease-in-out;
}

/* HOVER */

.buttons__three:hover .buttons__three--bg {
    transform: translate3d(0, 0, 0);
}

.buttons__three:hover::before {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.buttons__three:hover::after {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
}